button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  opacity: 0.5;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

html {
  height: 100%;
}
body {
  height: 100vh;
  margin: 0px;
  padding: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  background: #000;
}

.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_container {
  width: 25%;
  height: 100%;
  background: black;
  display: flex;
  backdrop-filter: blur(80px);
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-size: 0.2rem;
  /* border-right: 1px solid white; */
}

.call_container {
  width: 50%;
  height: 100%;
  background: black;
}

.messenger_container {
  width: 25%;
  height: 100%;
  background: #f4f9fd;
  display: flex;
  flex-direction: column;
  background: black;
  box-sizing: border-box;
  padding: 35px;
}
.messenger_inner_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: -7px 8px 38px -6px rgba(74,74,74,0.75);
  -webkit-box-shadow: -7px 8px 38px -6px rgba(74,74,74,0.75);
  -moz-box-shadow: -7px 8px 38px -6px rgba(74,74,74,0.75);
  border-radius: 25px;
}

.logo_container {
  margin-left: 40px;
  margin-top: 20px;
  width: 180px;
  height: 120px;
}

.description_container {
  margin: 0 20px;
  text-align: center;
}

.description_container_paragraph {
  font-weight: 500;
  font-size: 0.9rem;
  color: white;
}

.personal_code_container {
  height: 160px;
  margin: 0px 40px;
  /* background: rgba(196, 196, 196, 0.2); */
  background: linear-gradient(30deg,#28313ba3,#485461a5);
  backdrop-filter: blur(80px);
  border-radius: 15px;
  display: flex;
  animation: gradient 15s ease infinite;
  flex-direction: column;
  justify-content: space-evenly;
}
@keyframes gradient {
	0% {
		background: linear-gradient(30deg,#28313ba3,#485461a5);
	}
	50% {
		background: linear-gradient(90deg,#28313ba3,#485461a5);
	}
	100% {
		background: linear-gradient(30deg,#28313ba3,#485461a5);
	}
}

.strangers_amount{
  padding: 5px 10px;
  border-radius: 15px;
  background: #13ea3351;
  display: inline;
}

.personal_code_title_container {
  padding: 0 25px;
}

.personal_code_title_paragraph {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.personal_code_value_container {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  align-items: center;
}

.personal_code_value_paragraph {
  font-size: 0.9rem;
  font-weight: 700;
}

.personal_code_copy_button {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background: white;
  transition: 0.5s;
  margin-left: 5px;
}

.personal_code_connecting_container {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  opacity: 0;
}

.personal_code_connecting_paragraph {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: left;
}

.personal_code_connecting_input_container {
  width: 100%;
  height: 40px;
}

.personal_code_input:focus {
  outline: none;
}

.personal_code_input {
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  padding: 0 20px;
}

.personal_code_connecting_buttons_container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.connecting_button {
  width: calc(70% - 10px);
  height: 45px;
  background: #5b63fc;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 550;
  color: white;
  /* box-shadow: 0px 2px 2px 10px rgba(10, 145, 219, 0.2); */
  transition: 0.5s;
}

.stranger_connecting_container {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.stranger_title_container {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 3px;
}

.stranger_buttons_container {
  display: flex;
  justify-content: center;
  width: 280px;
}

.checkbox_container {
  display: flex;
  margin: 0 40px;
  margin-bottom: 25px;
  align-items: center;
}

.checkbox_connection {
  width: 20px;
  height: 20px;
  background: rgba(196, 196, 196, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox_container_paragraph {
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 15px;
}

.connecting_buttons_image {
  max-width: 90%;
  max-height: 100%;
}

.new_message_container {
  position: relative;
}
.new_message_input {
  margin: 0 30px;
  margin-bottom: 30px;
  width: calc(100% - 80px);
  height: 50px;
  color: #676f7a;
  font-size: 0.9rem;
  font-weight: 400;
  border: 1px solid #d5deeb;
  border-radius: 20px;
  box-shadow: 0px 2px 20px 5px rgba(10, 145, 219, 0.05);
  padding: 0 60px 0 20px;
  z-index: 2;
  background: #323138;
  color: #fff;
}

.new_message_input:focus {
  outline: none;
  color: #676f7a;
}

.messages_container {
  flex-grow: 1;
  margin: 40px 30px;
  overflow-y: scroll;
}

.message_left_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message_left_paragraph {
  background: #323138;
  border-radius: 20px 20px 20px 0px;
  padding: 10px 13px;
  color: #B2B2B2;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  color: #e0e0e0;
  font-size: 0.8rem;
  min-width: 60px;
  max-width: 80%;
  animation: slideIn 0.5s ease-in-out;
  margin: 2px 0;
}

.message_right_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* make it animate from bottom to top */
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(650%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.message_right_paragraph {
  background: #007AFF;
  /* border: 1px solid #d5deeb; */
  border-radius: 20px 20px 0px 20px;
  padding: 10px 13px;
  font-size: 16px;
  color: #ffffff;
  min-width: 60px;
  max-width: 80%;
  margin: 2px 0;
}

.send_message_button {
  width: 35px;
  height: 35px;
  position: absolute;
  margin-right: 10px;
  right: 50px;
  top: 7px;
  box-shadow: 0px 2px 20px 5px rgba(10, 145, 219, 0.05);
  background: linear-gradient(180deg, #ff9519 0%, #ffba6a 100%);
  border-radius: 8px;
  transition: 0.5s;
}

.send_message_button_image {
  max-width: 100%;
  max-height: 100%;
}

.videos_container {
  position: relative;
  height: calc(100% - 70px);
  margin: 30px 40px 40px 40px;
  border-radius: 15px;
  background: black;
  box-shadow: -7px 8px 38px -6px rgba(74,74,74,0.75);
  -webkit-box-shadow: -7px 8px 38px -6px rgba(74,74,74,0.75);
  -moz-box-shadow: -7px 8px 38px -6px rgba(74,74,74,0.75);
  /* background-image: url('../utils/images/logovch.png'); */
}

.videos_placeholder:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #210cae 0%, #4dc9e6 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.videos_placeholder::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      
.videos_placeholder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.local_video_container {
  position: absolute;
  width: 180px;
  height: 130px;
  border-radius: 10px;
  top: 15px;
  left: 15px;
  transition: 0.3s;
}
.local_video_container:hover {
  width: 280px;
  height: 200px;
}

#local_video {
  width: 100%;
  border-radius: 10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#local_video::before{
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: hue;
  background: rgba(3, 230, 26, 0.2);
}
#remote_video {
  width: 100%;
  height: 100%;
}

.call_buttons_container {
  position: absolute;
  width: 395px;
  height: 75px;
  bottom: 0px;
  left: calc(50% - 200px);
  display: flex;
  /* margin-top: 40px; */
  justify-content: space-between;
  align-items: center;
}

.finish_chat_button_container {
  position: absolute;
  width: 395px;
  height: 75px;
  bottom: 40px;
  left: calc(65% - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.call_button_small {
  width: 45px;
  height: 45px;
  background: rgba(168, 165, 165, 0.2);
  border-radius: 50px;
  transition: 0.3s;
}

.call_button_large {
  width: 60px;
  height: 60px;
  border-radius: 75px;
  background: #007AFF;
  transition: 0.3s;
}
.call_button_large i{
  color: white;
  font-size: 1.5rem;
}

.dialog_wrapper {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
}

.dialog_content {
  width: 420px;
  height: 430px;
  background: white;
  border: 1px solid #d5deeb;
  box-shadow: 0px 2px 20px 5px rgba(10, 145, 219, 0.05);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dialog_title {
  font-weight: 600;
  font-size: 22px;
  color: black;
}

.dialog_image_container {
  width: 175px;
  height: 175px;
  border-radius: 275px;
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog_description {
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding: 0 40px;
}

.dialog_button_container {
  height: 45px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.dialog_accept_call_button {
  width: 150px;
  height: 45px;
  background: linear-gradient(180deg, #00c920 0%, #2fe24b 100%);
  box-shadow: 0px 2px 42px 10px rgba(47, 226, 75, 0.15);
  border-radius: 15px;
  transition: 0.5s;
}

.dialog_reject_call_button {
  width: 150px;
  height: 45px;
  background: linear-gradient(180deg, #ff3b3b 0%, #ff6262 100%);
  box-shadow: 0px 2px 42px 10px rgba(255, 59, 59, 0.15);
  border-radius: 15px;
  transition: 0.5s;
}

.dialog_button_image {
  max-width: 100%;
  max-height: 100%;
}

.dashboard_blur {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.2;
  background: rgba(196, 196, 196, 0.2);
  backdrop-filter: blur(80px);
}

.video_recording_buttons_container {
  position: absolute;
  width: 180px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(60px);
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stop_recording_button {
  color: white;
  height: 28px;
}

.display_none {
  display: none;
}
.visibility_hidden {
  visibility: hidden;
}

@media screen and (max-width: 860px) {
  .main_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dashboard_container {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .logo_container {
    margin-left: 40px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .logo_container img {
    width: 100px;
  }
  .description_container {
    margin: 0 20px;
    text-align: center;
  }

  .call_container {
    width: 100vw;
    height: 90vh;

    flex-direction: column;
  }
  #remote_video {
    width: 100%;
    height: 100%;
  }
  .messenger_container {
    width: 100%;
    height: 100%;
  }
  .stranger_connecting_container{
    width: 70%;
  }
  .register{
    top: 0;
  }
  .register-dialog h2{
    font-size: 20px;
    margin-top: 30% !important;
  }
  .register-dialog .number-input{
    width: 245px;
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .call_buttons_container{
    width: 300px;
    left: calc(50% - 150px);
  }
  .videos_container{
    box-shadow: none;
    margin: 0;
  }
  .local_video_container{
    width: 110px;
  }
  .register-dialog{
    width: 80% !important;  
  }
}
.filters-box{
  width: 100%;
  height: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px 5px;
  padding: 5px;
  overflow-x: scroll;
  background-color: rgb(23, 23, 23);
  border-radius: 10px;
}
.filter-el{
  position: relative;
  width: auto;
  height: 100px;
  margin: 10px;
  background: #fff;
  border-radius: 10px;
}
.filter-el img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.filter-el.active{
  border: 2px solid #fff;
}
.filter-el p{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  border-radius: 0 0 10px 10px;
  z-index: 7;
  padding: 0;
  margin: 0;
}
.register{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  backdrop-filter: blur(20px);
}
.register .register-dialog{
  width: 50%;
  height: 400px;
  background: rgb(26, 26, 26);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 20px 5px rgba(10, 145, 219, 0.05);
}
.register-dialog h2{
  margin-top: 10%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.number-input{
  height: 50px;
  width: 260px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  line-height: 50px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.number-input input{
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff80;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  font-size: 22px;
  letter-spacing: 2px;
  padding-left: 5px;
  user-select: none;
}
.number-input input:focus{
  outline: none;
  border: 2px solid #2940c4;
}
.number-input .num-code{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 22px;
  color: #fff;
  z-index: 1;
}
.number-input .send-btn{
  width: 50px;
  height: 50px;
  background: #2940c4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: -1px;

}
.number-input .send-btn button{
  font-size: 25px;
  color: #fff;
}

.smscode-input-noner{
  position: absolute;
  top: 140%;
  opacity: 0;
}
.smscode-input-show{
  position: absolute;
  top: 0;
  opacity: 1;
}
.smscode-input {
  width: 175px;
  height: 50px;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  line-height: 50px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  letter-spacing: 2px;
}
.smscode-input input{
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff80;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  font-size: 22px;
  letter-spacing: 2px;
  padding-left: 5px;
  user-select: none;
  text-align: center;
  transition: all 0.3s ease;
}
.smscode-input input:focus{
  outline: none;
  border: 2px solid #2940c4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}